<div class="form_container">
    <form [formGroup]="formdata">

        <header>QUESTION BANK</header>
        <br />
        <br />
       <h2>A platform to get all the question papers.</h2>
       <h3>*Be connected to get latest updates*</h3>
       <br />
       

        <button type="button" (click)="onClickButton()">Download</button>
        &nbsp; &nbsp;
        <button type="button" (click)="onClickSubmit()">Upload</button>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <button type="button" (click)="onClick()">LogOut</button>





    </form>
</div>